

<form action="/payment/results">
  <label for="alice">APR</label>
  <input id="alice" type="text" name="users_apr" placeholder="E.g. 5.42">

  <label for="bob">Number of years</label>
  <input id="bob" type="text" name="users_years" placeholder="How many years to repay?">

  <label for="karla">Principal</label>
  <input id="karla" type="text" name="users_principal" placeholder="How much principal?">

  <button>Calculate monthly payment</button>
  </form>
